@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My Favorite Recipe is an app that allow users to store Recipes and the Cookbook information that it derived from, all in one place!</p>
