@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Favorite Recipes</h1>
    <p class="lead">My Favorite Recipe is an app that allow users to store Recipes and the Cookbook information that it derived from, all in one place!</p>
    @Html.ActionLink("Check Recipes", "Index", "Recipes", null, new { @class = "btn btn-primary btn-large" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cookbook</h2>
        <p>
            Add your favorite cookbook and author.
        </p>
        <br />
        @Html.ActionLink("Add Cookbook", "Index", "Reference/Create", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Meal Categories</h2>
        <p>Have some fun with personalizing your own meal categories.</p>
        <br />
        @Html.ActionLink("Meal Categories", "Index", "MealCategory/Create", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Get Started! </h2>
        <p> Start adding information to your personalized cookbook.</p>
        <br />
        @Html.ActionLink("Create Recipe", "Index", "Recipes/Create", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>